## Assignment 1
#### Author: Zanele Mankazana

##### Import libraries

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("NetflixViewingHistory.csv")
df

                                                  Title      Date
0            Russian Doll: Season 2: Station to Station    5/4/22
1                   Russian Doll: Season 2: Brain Drain    5/3/22
2             Russian Doll: Season 2: Coney Island Baby   4/26/22
3                        Russian Doll: Season 2: Nowhen   4/26/22
4     Eternally Confused and Eager for Love: Season ...   4/10/22
...                                                 ...       ...
1967                    The OA: Part I: Chapter 4: Away  12/22/16
1968                The OA: Part I: Chapter 3: Champion  12/22/16
1969            The OA: Part I: Chapter 2: New Colossus  12/22/16
1970              The OA: Part I: Chapter 1: Homecoming  12/22/16
1971                                 The Imitation Game  12/21/16

[1972 rows x 2 columns]

##### How many rows and columns are in the dataset?

In [5]:
# questions a and b
df.shape

(1972, 2)

###### What is the name of the first column and second column of the dataset?

In [ ]:
# questions c and d
df.head(0)

Empty DataFrame
Columns: [Title, Date]
Index: []

##### How many times was an episode of the show Designated Survivor watched according to the data

In [ ]:
# question e
# Step 1: just get the titles
#my_titles = None
# my_title =df['Title']
df["Title"]
#my_title

In [ ]:
# Step 2 use apply to determine if title contains Brigerton

#my_title = df['Title'].apply(lambda title : "Designated Survivor" in title)
df['Title'].apply(lambda title : "Designated Survivor" in title)

#my_title

In [ ]:
# Step 3: sum up how many titles have the key word
#my_title = df['Title'].apply(lambda title : "Designated Survivor" in title).sum()
df['Title'].apply(lambda title : "Designated Survivor" in title).sum()
#my_title

10

In [ ]:
# view only titles 
df.loc[["Bridgerton" in n for n in df["Title"]], : ]

#starting date refers to first episode the user watched

##### When was the starting date of watching the show Bridgerton according to the data?a

In [ ]:
# Step 1: Zoom in on entries containing bridgeton in the title
df.loc[["Bridgerton" in title for title in df["Title"]], : ]

In [ ]:
# Step 2: sort by date
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date", ascending=False)

In [ ]:
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date", ascending=False)["Date"].iloc[-1]

'1/8/21'

##### What is the title of the first episode of the show Bridgerton watched according to the data?

In [ ]:
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date")["Title"].iloc[-1]

'Bridgerton: Season 2: The Viscount Who Loved Me'

##### What is the title of the first episode of the show Bridgerton watched according to the data?

In [ ]:
# Zoom in to all entries with Bridgerton
df.loc[["Bridgerton" in title for title in df["Title"]], : ]

#Sort by Title
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date", ascending = True)["Date"]

#.sort_values("Date")["Date"].iloc[-1]

In [ ]:
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date")["Date"].iloc[-1]

##### When was the LAST DATE of watching the show Bridgerton according to the data?

In [ ]:
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date")["Date"].iloc[-1]

'4/4/22'

##### What is the TITLE of the last episode of the show Bridgerton watched according to the data?

In [ ]:
df.loc[["Bridgerton" in title for title in df["Title"]], : ].sort_values("Date")["Title"].iloc[-1]

'Bridgerton: Season 2: The Viscount Who Loved Me'

In [ ]:
## Optional questions: What show has she waatched the most -> Audience Analysis can assist Netflix
# to understand what genres or series types the account user watches to suggest and recommend
# more accurately and hence ensure user continues to consume Netflix.